header{
    background-color: #008399;
    width: 100%;
    padding-bottom: 5pt;
}
main{
    margin-top: 50px;
    margin-bottom: 50px;
}
.dropdown{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
menu{
    background-color: #e6710f;
    width: 100%;
    margin-top: 0px;
    border-style: solid;
    border-top: black;
    border-color: rgb(0, 0, 0);
}    
.navbar{
    padding-top: 30px;
}
.col-sm form{
    margin-left: 50px;
}
#senacnews{
    color: white;
}
.col{
    margin-top: 5px;
    font-weight: bold;
}
a:link, a:visited, a:active{
    text-decoration: none;
	color:#000;
}

#titulo{
    margin-left: 43px;
    margin-top: 5px;
}
.card{
    margin-left: 45px;
    margin-bottom: 45px;
}
#container1{
    margin-left: 0px;
}
#menubarra{
    margin-top: 25px;
}
p{
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .col h1{
        font-size: large;
        margin-top: 30px;
    }
    footer{
        margin-top: 200px;
    }
    menu {
        height: 80px;
        padding-left: 1px;
    }
  }
@media only screen and (min-width: 700px) {
    .col h1{
        margin-top: 20px;
        margin-left: 23px;
    }
    .foot {
        margin-top: 20px;
    }
    menu{
        height: 45px;
    }
}
#video-renata{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
